CONFIG_SENSORS_SX9310_INIT_TOUCH_THRESHOLD=3000
CONFIG_SENSORS_SX9310_NORMAL_TOUCH_THRESHOLD=176
CONFIG_SENSORS_SX9310_NORMAL_TOUCH_THRESHOLD_CH2=246
CONFIG_SENSORS_SX9310=y
CONFIG_WLAN_REGION_CODE=100
