CONFIG_DEFAULT_MPTCP_SCHED="default"
CONFIG_MPTCP=y
CONFIG_TCP_CONG_LIA=y
CONFIG_TCP_CONG_OLIA=y
CONFIG_TCP_CONG_WVEGAS=y
CONFIG_TDMB_FC8080=y
CONFIG_TDMB_SLSI=y
CONFIG_TDMB_SPI=y
CONFIG_TDMB_VENDOR_FCI=y
CONFIG_TDMB_XTAL_FREQ=y
CONFIG_TDMB=y
CONFIG_WLAN_REGION_CODE=200
